#toast-message {
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    min-width: 250px;
    border-radius: 10px;
    padding: 1em 1em 1em 2.2em;
    position: fixed;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    transition: opacity 0.5s, bottom 0.5s;
}

#toast-message.show {
    visibility: visible;
    opacity: 1;
    animation: toast-lifecycle 3.5s forwards;
}

.toast-info {
    background: #f3f3ff url('../../../../assets/images/skin/information.png') 0.5em 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
}

.toast-error {
    background: #fff3f3 url('../../../../assets/images/skin/exclamation.png') 0.5em 50% no-repeat;
    border: 1px solid #ffaaaa;
    color: #cc0000;
}

.toast-warn {
    background: #fffbc8 url('../../../../assets/images/skin/warning.png') 0.5em 50% no-repeat;
    border: 1px solid #fed32a;
}

@keyframes toast-lifecycle {
  0% {
    bottom: 0;
    opacity: 0;
  }
  14% {
    bottom: 30px;
    opacity: 1;
  }
  86% {
    bottom: 30px;
    opacity: 1;
  }
  100% {
    bottom: 0;
    opacity: 0;
    visibility: hidden;
  }
}