/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'AvantGardeDemi';
    src: url("assets/fonts/AVGARDD_2.TTF") format("truetype");
    font-weight: 600;
    font-style: normal;
}